:root {
  /*Vermelhos */
  --red-primary: #b11217;     
  --red-medium: #8a0e12;
  --red-dark: #6b0b0f;  
  --red-darker: #1a0202;
  
  /* Pretos*/
  --black-deep: #0b0b0b;      
  --black-soft: #141414;   
  
  /* Cinzas */
  --gray-light: #d1d1d1;   
  --gray-medium: #a8a8a8;
  --gray-dark: #707070;
  
  /* Destaques */
  --white: #ffffff;
  --gold: #b86914;
  --gold-light: #d4af37;
}